.vestra-intro {
  text-align: center;
  padding: 85px 20px 80px;
}
.vestra-intro > span {
  font-size: 11px;
  color: #7b8978;
}
.vestra h2 {
  font-size: 52px;
  line-height: 1.12;
}
.vestra-intro h2 {
  margin: 25px 0;
}
.vestra-intro h2 em {
  font-weight: 400;
}
.vestra-intro > p {
  max-width: 450px;
  margin: auto;
  font-size: 12px;
  line-height: 1.85;
  color: #778271;
}
.vestra-intro-seal {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}
.vestra-intro-seal > span {
  font-size: 9px;
  line-height: 1.5;
  text-align: left;
  color: #7b8978;
}
.vestra-stay {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  margin: 0 5% 90px;
  gap: 70px;
}
.vestra-stay-photo {
  position: relative;
}
.vestra-stay-photo img {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: center;
}
.vestra-stay-photo > span {
  position: absolute;
  bottom: 24px;
  left: 25px;
  color: white;
  font-family: "The Foriene", serif;
  font-size: 27px;
}
.vestra-stay-copy {
  align-self: center;
  padding-right: 40px;
}
.vestra-stay-copy > span {
  font-size: 10px;
  color: #7b8978;
}
.vestra-stay-copy h2 {
  font-size: 65px;
  margin: 22px 0;
}
.vestra-stay-copy > p {
  font-size: 12px;
  line-height: 1.8;
  color: #7b8978;
  max-width: 350px;
}
.vestra-suite-details {
  display: flex;
  gap: 50px;
  margin: 30px 0;
}
.vestra-suite-details strong {
  display: block;
  font-family: "The Foriene", serif;
  font-weight: 400;
  font-size: 34px;
}
.vestra-suite-details span {
  font-size: 9px;
  color: #7b8978;
}
.vestra-outline-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 255px;
  border-bottom: 1px solid #909e8c;
  padding: 13px 0;
  font-size: 11px;
}

.vestra-stay-copy,
.vestra-stay-photo {
  min-width: 0;
}
