.ve-footer {
  padding: 35px 5% 22px;
  background: var(--ve-milk);
}
.ve-footer-word {
  font: 500 19.2vw/0.98 "Sora";
  letter-spacing: -1.65vw;
  position: relative;
  margin: 5px 0 34px;
}
.ve-footer-word > span {
  font-size: 20px;
  letter-spacing: 0;
  position: absolute;
  right: 0;
  top: 18px;
}
.ve-footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #343d2638;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 8px;
}
.ve-footer-bottom .brand-logo svg {
  height: 28px;
  width: 29px;
}
.ve-footer-bottom > a {
  display: flex;
  align-items: center;
  gap: 14px;
}
