@media (max-width: 1000px) {
  .salt-header {
    padding: 0 35px;
  }
  .salt-hero {
    padding: 25px 35px 55px;
    gap: 25px;
  }
  .salt-hero h1 {
    font-size: 59px;
  }
  .salt-hero-picture > img {
    height: 480px;
  }
  .salt-hero-picture {
    padding-right: 20px;
  }
  .salt-stamp {
    width: 120px;
    height: 120px;
  }
  .salt-menu {
    padding: 75px 45px;
    gap: 50px;
  }
  .salt-menu h2 {
    font-size: 35px;
  }
  .salt-menu-photo img {
    height: 410px;
  }
  .salt-menu-item {
    padding: 16px 0;
  }
  .salt-menu-tabs {
    gap: 17px;
  }
  .salt-story > div {
    padding: 50px 10%;
  }
  .salt-story h2 {
    font-size: 35px;
  }
  .salt-table {
    padding: 65px 45px;
    gap: 35px;
  }
  .salt-table h2 {
    font-size: 44px;
  }
  .salt-table-fields {
    gap: 10px;
  }
  .salt-footer {
    padding: 30px 35px;
    gap: 28px;
  }
  .salt-footer > span {
    display: none;
  }
}
