.salt-story > div {
  padding: 60px 18% 62px 20%;
  text-align: center;
}

.salt-story > div > svg {
  width: 63px;
  height: 63px;
  color: #183445;
  display: block;
  margin: 0 auto 20px;
}

.salt-story > div > span {
  font-size: 10px;
}

.salt-story h2 {
  font:
    400 43px/1.12 "Tahoe",
    serif;
  letter-spacing: -0.05em;
  color: #183445;
  margin: 24px 0;
}

.salt-story p {
  font-size: 13px;
  line-height: 1.8;
  max-width: 360px;
  margin: 0 auto 25px;
}

.salt-story a {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 7px;
  border-bottom: 1px solid #183445;
  font-size: 11px;
}

.salt-story > img {
  width: 100%;
  height: 100%;
  max-height: 515px;
  object-fit: cover;
}

.salt-table {
  max-width: 1450px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.45fr;
  gap: 80px;
  padding: 90px 80px 75px;
  align-items: center;
}

.salt-table > div > span {
  font-size: 11px;
  color: #7c8c92;
}

.salt-table h2 {
  font:
    400 50px/1.1 "Tahoe",
    serif;
  letter-spacing: -0.055em;
  color: #e64732;
  margin: 22px 0;
}

.salt-table-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.salt-table label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 10px;
  color: #7c8c92;
  gap: 14px;
}

.salt-table select,
.salt-table input {
  height: 45px;
  border: 1px solid #d5deda;
  background: transparent;
  color: #183445;
  font-size: 12px;
  padding: 10px 13px;
  appearance: none;
  min-width: 0;
  border-radius: 2px;
}

.salt-table label > svg {
  position: absolute;
  bottom: 16px;
  right: 12px;
  pointer-events: none;
}

.salt-table .salt-button {
  margin-top: 23px;
  width: 100%;
  justify-content: space-between;
}

.salt-table form > p {
  font-size: 9px;
  color: #7c8c92;
  margin: 15px 0;
  min-height: 18px;
}

.salt-footer {
  border-top: 1px solid #d5deda;
  max-width: 1450px;
  margin: auto;
  padding: 35px 66px;
  display: flex;
  align-items: center;
  gap: 65px;
  font-size: 10px;
  line-height: 1.7;
}

.salt-footer .brand-logo {
  color: #e64732;
  font:
    27px "Tahoe",
    serif;
  text-transform: uppercase;
}

.salt-footer .brand-logo > span {
  font-weight: 400;
  letter-spacing: 0;
}

.salt-footer .brand-logo svg {
  width: 35px;
  height: 35px;
}

.salt-footer > a {
  margin-left: auto;
}

.salt-footer > span {
  font-size: 9px;
  color: #7c8c92;
}
