.estelle-atelier-photo {
  height: 620px;
  position: relative;
}

.estelle-atelier-photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 59%;
}

.estelle-atelier-photo > span {
  position: absolute;
  left: 35px;
  bottom: 30px;
  font:
    23px "The Foriene",
    serif;
  color: #f3ece0;
  text-shadow: 0 1px 10px #000;
}

.estelle-atelier-copy {
  padding: 72px 14% 65px 14%;
  align-self: center;
}

.estelle-atelier-copy > .brand-logo {
  display: block;
  color: #d5be98;
  margin-bottom: 27px;
}

.estelle-atelier-copy .brand-logo svg {
  width: 38px;
  height: 38px;
}

.estelle-atelier-copy > span:not(.brand-logo) {
  font-size: 9px;
  color: #a38f7b;
}

.estelle-atelier h2 {
  font:
    400 59px/1.05 "The Foriene",
    "Cormorant Garamond",
    serif;
  letter-spacing: -0.04em;
  margin: 29px 0 24px;
}

.estelle-atelier p {
  font-size: 11px;
  line-height: 1.95;
  color: #a8988b;
  max-width: 330px;
}

.estelle-atelier .estelle-link {
  margin-top: 36px;
  gap: 30px;
}

.estelle-visit {
  max-width: 1600px;
  margin: auto;
  padding: 85px 10% 80px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  gap: 110px;
  background: #2c1e23;
}

.estelle-visit > div > span {
  font-size: 9px;
  color: #a38f7b;
}

.estelle-visit h2 {
  font:
    400 55px/1.02 "The Foriene",
    "Cormorant Garamond",
    serif;
  letter-spacing: -0.04em;
  margin: 28px 0 23px;
}

.estelle-visit > div > p {
  font-size: 11px;
  line-height: 1.9;
  color: #a8988b;
}

.estelle-visit > div > small {
  display: block;
  font-size: 8px;
  color: #8c786b;
  margin-top: 27px;
}

.estelle-visit label {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  font-size: 9px;
  color: #a38f7b;
}

.estelle-visit select {
  appearance: none;
  min-width: 0;
  background: transparent;
  color: #d5be98;
  border: 1px solid #d5be9836;
  padding: 16px;
  font-size: 11px;
  width: 100%;
  border-radius: 0;
}

.estelle-visit option {
  background: #211419;
}

.estelle-visit label > svg {
  position: absolute;
  right: 16px;
  bottom: 18px;
}

.estelle-visit form > button {
  background: #d5be98;
  color: #34252b;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  font-size: 10px;
  margin-top: 17px;
}

.estelle-visit form > p {
  font-size: 8px;
  color: #8c786b;
  line-height: 1.75;
  margin: 17px 0;
  min-height: 20px;
}

.estelle-footer {
  max-width: 1600px;
  margin: auto;
  padding: 35px 60px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-top: 1px solid #d5be981f;
  font-size: 8px;
  color: #978579;
}
