@media (max-width: 650px) {
  .estelle-save > svg {
    width: 14px;
  }
  .estelle-piece-details {
    font-size: 7px;
  }
  .estelle-atelier {
    grid-template-columns: 1fr;
  }
  .estelle-atelier-photo {
    height: 420px;
  }
  .estelle-atelier-copy {
    padding: 52px 32px;
  }
  .estelle-atelier h2 {
    font-size: 55px;
  }
  .estelle-atelier p {
    font-size: 11px;
    max-width: none;
  }
  .estelle-atelier-photo > span {
    left: 24px;
    font-size: 22px;
  }
  .estelle-visit {
    grid-template-columns: 1fr;
    padding: 54px 30px;
    gap: 28px;
  }
  .estelle-visit h2 {
    font-size: 50px;
  }
  .estelle-visit > div > p {
    font-size: 10px;
  }
  .estelle-visit > div > small {
    font-size: 7px;
  }
  .estelle-footer {
    padding: 30px 24px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .estelle-footer .brand-logo {
    font-size: 25px;
  }
  .estelle-footer > a {
    font-size: 7px;
  }
  .estelle-footer > small {
    width: 100%;
  }
  .estelle-detail-backdrop {
    padding: 20px;
  }
  .estelle-detail {
    grid-template-columns: 1fr;
    max-height: 92vh;
    overflow: auto;
  }
  .estelle-detail > img {
    height: 265px;
  }
  .estelle-detail > div {
    padding: 30px;
  }
  .estelle-detail h2 {
    font-size: 34px;
    margin-top: 15px;
  }
  .estelle-detail-close {
    background: #211419bb;
    color: #d5be98;
  }
  .estelle-detail p {
    font-size: 10px;
  }
  .estelle-detail b {
    margin: 20px 0;
  }
}
