.archive {
  --focus-color: #9b273e;
  color: #151411;
  background: #f5f4ef;
  font-family: "DM Sans", sans-serif;
  position: relative;
}
.archive a {
  text-decoration: none;
}
.archive button {
  color: inherit;
}
.archive-header {
  position: absolute;
  z-index: 5;
  top: 27px;
  left: 3.5%;
  right: 3.5%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 11px;
}
.archive-header .brand-logo svg {
  width: 24px;
}
.archive-header > span {
  font:
    8px "IBM Plex Mono",
    monospace;
  margin-left: 20px;
}
.archive-header nav {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.archive-bag {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 0;
  border-bottom: 1px solid #47423c;
  background: transparent;
  padding: 9px 0;
  margin-left: 25px;
  font-size: 11px;
}
.archive-footer {
  border-top: 1px solid #a9a49a;
  padding: 35px 3.5%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}
.archive-footer > div {
  display: grid;
  gap: 14px;
  font:
    8px "IBM Plex Mono",
    monospace;
  color: #847d72;
}
.archive-footer > div:last-child {
  text-align: right;
}
.archive-footer a {
  color: #38382d;
}
.archive-footer p {
  font:
    400 60px/1 "Sublime",
    sans-serif;
  letter-spacing: -0.02em;
  margin: 0;
}
