.pulse-patient {
  background: #f9eee4;
  border: 1px solid #f1e4d7;
  border-radius: 11px;
  padding: 24px;
}
.pulse-patient .pulse-section-heading h2 {
  font-size: 16px;
  color: #826b55;
}
.pulse-patient .pulse-section-heading > svg {
  color: #baa18a;
}
.pulse-patient-profile {
  text-align: center;
  padding: 22px 0;
}
.pulse-patient-profile > img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  border: 4px solid #fff8f1;
}
.pulse-patient-profile h3 {
  font-size: 21px;
  color: #745d4a;
  margin: 13px 0 6px;
}
.pulse-patient-profile p {
  font-size: 8px;
  color: #9b8168;
  margin: 0;
}
.pulse-patient-profile > span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background: #e4ead3;
  color: #94a073;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 7px;
  margin-top: 12px;
}
.pulse-patient-profile > span i {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: currentColor;
}
.pulse-patient-details {
  display: grid;
  gap: 14px;
  padding: 16px 0;
  border-top: 1px solid #e9dccb;
  border-bottom: 1px solid #e9dccb;
}
.pulse-patient-details > div {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  gap: 15px;
}
.pulse-patient-details span {
  color: #bba58d;
}
.pulse-patient-details strong {
  font-size: 9px;
  font-weight: 400;
  color: #876b51;
}
.pulse-visit-note {
  display: flex;
  gap: 9px;
  padding: 17px 0;
  color: #b49c82;
}
.pulse-visit-note p {
  font-size: 9px;
  color: #876b51;
  margin: 0;
}
.pulse-visit-note span {
  display: block;
  font-size: 8px;
  line-height: 1.7;
  margin-top: 5px;
  color: #bca58e;
}
.pulse-patient-button {
  background: #176b63;
  color: #e3ecdd;
  padding: 12px 14px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
}
