.helio-code code.import {
  color: #234afb;
}

.helio-code-footer {
  display: flex;
  gap: 20px;
  border-top: 1px solid #e6e8ed;
  padding: 12px 20px;
  font-size: 8px;
  color: #8a8e97;
}

.helio-code-footer > span:last-child {
  margin-left: auto;
}

.helio-deploy-panel {
  padding: 20px 25px;
}

.helio-deploy-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 24px;
}

.helio-project-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.helio-project-name > span:first-child {
  width: 31px;
  height: 31px;
  border-radius: 6px;
  background: #eef1ff;
  color: #234afb;
  display: grid;
  place-items: center;
  font-size: 23px;
}

.helio-project-name b {
  font-size: 12px;
}

.helio-project-name small {
  display: block;
  font-size: 8px;
  color: #9298a3;
  margin-top: 4px;
}

.helio-ready {
  margin-left: auto;
  background: #e9f8f0;
  color: #31895c;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 8px;
}

.helio-deploy-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px 0;
  border-bottom: 1px solid #e6e8ed;
}

.helio-deploy-details > div {
  display: flex;
  justify-content: space-between;
  font-size: 9px;
}

.helio-deploy-details > div > span {
  color: #9298a3;
}

.helio-deploy-details b {
  font-weight: 500;
}

.helio-terminal {
  background: #17191c;
  color: #eef1ff;
  border-radius: 4px;
  padding: 13px 14px;
  margin: 20px 0;
  font:
    9px/1.8 "IBM Plex Mono",
    monospace;
  min-height: 91px;
}

.helio-terminal p {
  margin: 0;
  white-space: pre-line;
}

.helio-terminal p > span {
  color: #96aaff;
}

.helio-terminal-muted {
  color: #9cabc7;
  margin-top: 8px !important;
}

.helio-deploy-panel > .helio-primary {
  width: 100%;
  padding: 11px;
  font-size: 10px;
}

.helio-deploy-note {
  display: block;
  text-align: center;
  font-size: 8px;
  color: #9298a3;
  margin-top: 11px;
}

.helio-pricing {
  max-width: 1450px;
  padding: 85px 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.helio-pricing h2 {
  margin-top: 20px;
}

.helio-pricing p {
  font-size: 13px;
  line-height: 1.75;
  color: #7b8089;
  max-width: 335px;
}

.helio-free {
  border: 1px solid #e6e8ed;
  padding: 27px;
  border-radius: 8px;
}

.helio-free > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helio-free > div > span {
  font-size: 13px;
}

.helio-free strong {
  font:
    500 38px "Space Grotesk",
    sans-serif;
}
