.helio-orbit-node {
  fill: #234afb;
  stroke: #fff;
  stroke-width: 5;
}

.helio-orbit-node.light {
  fill: #c6d0ff;
  stroke-width: 3;
}

.helio-globe {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  left: calc(50% - 120px);
  overflow: hidden;
  background: radial-gradient(
    circle at 30% 27%,
    #7c96ff 0,
    #254aff 35%,
    #193de9 58%,
    #001b9c 86%
  );
  box-shadow:
    inset -15px -20px 30px #001c9f4d,
    0 28px 45px #234afb1c;
}

.helio-globe-latitudes {
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent 0 17px,
    #bdcaff66 18px 19px,
    transparent 20px
  );
  transform: rotate(-23deg);
  border-radius: 50%;
}

.helio-globe-longitudes {
  position: absolute;
  inset: -8%;
  border-radius: 50%;
  background: repeating-radial-gradient(
    ellipse at 50% 50%,
    transparent 0 17px,
    #bdcaff77 18px 19px,
    transparent 20px
  );
  transform: scaleX(0.55) rotate(-23deg);
}

.helio-orbit-coordinate {
  position: absolute;
  font:
    10px/1.7 "Caleb Mono",
    "IBM Plex Mono",
    monospace;
  color: #7b8396;
}

.helio-orbit-coordinate b {
  font-weight: 400;
  color: #17191c;
}

.helio-orbit-coordinate.top {
  right: 4%;
  top: 122px;
}

.helio-orbit-coordinate.bottom {
  left: 6%;
  bottom: 91px;
}

.helio-orbit-status {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  background: white;
  box-shadow: 0 4px 18px #17191c0a;
  border: 1px solid #e6e8ed;
  padding: 10px 13px;
  border-radius: 4px;
  white-space: nowrap;
}

.helio-orbit-status > span,
.helio-footer i {
  width: 5px;
  height: 5px;
  background: #38b783;
  border-radius: 50%;
  display: block;
}

.helio-platform {
  max-width: 1450px;
  margin: auto;
  padding: 0 60px 80px;
}

.helio-trusted {
  border-top: 1px solid #e6e8ed;
  border-bottom: 1px solid #e6e8ed;
  padding: 27px 0 33px;
  text-align: center;
}

.helio-trusted > span {
  font-size: 10px;
  color: #8a8e97;
}

.helio-trusted > div {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 24px;
  font-family: "Space Grotesk", sans-serif;
  color: #636973;
}

.helio-trusted b {
  font-size: 23px;
  letter-spacing: -0.05em;
}

.helio-platform-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 75px 0 38px;
}

.helio-platform-title h2,
.helio-build-heading h2,
.helio-pricing h2 {
  font:
    500 43px/1.08 "Space Grotesk",
    sans-serif;
  letter-spacing: -0.055em;
  margin: 0;
}

.helio-platform-title p,
.helio-build-heading > p {
  font-size: 12px;
  color: #7c818a;
  line-height: 1.75;
  margin: 0 0 3px;
}

.helio-feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #e6e8ed;
  border-radius: 7px;
  overflow: hidden;
}
