.orbit-workspace {
  flex: 1;
  min-width: 0;
}
.orbit-topbar {
  height: 77px;
  padding: 0 31px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-bottom: 1px solid #e9e5ef;
  background: #fff;
  position: relative;
}
.orbit-topbar > div:first-child {
  font-size: 10px;
  color: #a59aaf;
  display: flex;
  gap: 14px;
}
.orbit-topbar > div:first-child strong {
  font-weight: 400;
  color: #5e4d75;
}
.orbit-search {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #a49ab0;
  margin-left: auto;
}
.orbit-search input {
  background: transparent;
  border: 0;
  font-size: 10px;
  color: #352753;
  width: 155px;
  outline-offset: 3px;
}
.orbit-search input::placeholder {
  color: #aaa0b4;
}
.orbit-search kbd {
  border: 1px solid #e7e1ed;
  border-radius: 4px;
  padding: 3px 5px;
  font-family: inherit;
  font-size: 8px;
}
.orbit-topbar-actions {
  display: flex;
  align-items: center;
  gap: 23px;
}
.orbit-bell {
  position: relative;
  background: transparent;
  border: 0;
  padding: 0;
  color: #8f839d;
}
.orbit-bell i {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #f6ac96;
  position: absolute;
  top: 0;
  right: 2px;
}
.orbit-notifications {
  position: absolute;
  right: 65px;
  top: 65px;
  background: white;
  border: 1px solid #e7dfef;
  box-shadow: 0 10px 35px #35275318;
  z-index: 2;
  padding: 20px;
  border-radius: 9px;
  max-width: 260px;
}
.orbit-notifications strong {
  font-size: 12px;
}
.orbit-notifications p {
  font-size: 10px;
  line-height: 1.6;
  color: #837391;
}
.orbit-main {
  padding: 31px 30px 22px;
  max-width: 1510px;
  margin: auto;
}
