@media (max-width: 620px) {
  .bloom-progress-stats article > div > svg {
    width: 11px;
    height: 11px;
  }
  .bloom-progress-stats article > b {
    font-size: 20px;
    margin-top: 13px;
  }
  .bloom-progress-stats article > small {
    font-size: 6px;
  }
  .bloom-courses {
    margin-top: 27px;
  }
  .bloom-section-heading h2 {
    font-size: 12px;
  }
  .bloom-section-heading > a {
    font-size: 7px;
    gap: 4px;
  }
  .bloom-course-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .bloom-course:nth-child(3) {
    display: block;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
  }
  .bloom-course:nth-child(3) .bloom-course-art {
    height: 100%;
  }
  .bloom-course-art {
    height: 110px;
  }
  .bloom-course-content {
    padding: 13px 11px;
  }
  .bloom-course-content h3 {
    font-size: 9px;
    min-height: 25px;
  }
  .bloom-course-details {
    font-size: 6px;
  }
  .bloom-path {
    padding: 17px;
  }
  .bloom-path .bloom-section-heading > span {
    font-size: 6px;
  }
  .bloom-path-steps {
    gap: 22px;
    margin-top: 22px;
  }
  .bloom-path-steps button {
    padding: 7px;
    font-size: 7px;
    gap: 5px;
  }
  .bloom-path-steps b {
    font-size: 8px;
  }
  .bloom-path-steps small {
    font-size: 6px;
  }
  .bloom-right {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .bloom-calendar,
  .bloom-learning-chart {
    padding: 18px 12px;
    border-radius: 12px;
  }
  .bloom-calendar .bloom-section-heading h2,
  .bloom-learning-chart .bloom-section-heading h2 {
    font-size: 10px;
  }
  .bloom-calendar .bloom-section-heading > svg {
    width: 13px;
  }
  .bloom-calendar-month {
    font-size: 8px;
    margin: 20px 0 13px;
  }
  .bloom-calendar-month > div {
    gap: 4px;
  }
  .bloom-week {
    gap: 0;
    margin-bottom: 20px;
  }
  .bloom-week button {
    padding: 6px 0;
    gap: 8px;
  }
  .bloom-week button > span {
    font-size: 5px;
  }
  .bloom-week button > b {
    font-size: 8px;
  }
  .bloom-week button > i {
    width: 2px;
    height: 2px;
  }
  .bloom-day-label {
    font-size: 7px;
  }
}
