.bloom-profile small {
  display: block;
  font-size: 7px;
  color: #9aa495;
  margin-top: 5px;
}

.bloom-profile > svg {
  margin-left: auto;
  color: #9aa495;
}

.bloom-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 15px;
  background: #e9d0be;
  color: #775744;
  border: 3px solid #fff;
  font-family: "Sunny Side", sans-serif;
}

.bloom-avatar.small {
  width: 31px;
  height: 31px;
  font-size: 13px;
}

.bloom-workspace-main {
  flex: 1;
  min-width: 0;
}

.bloom-topbar {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 22px 36px;
  background: #fff;
  border-bottom: 1px solid #e9ece4;
  position: relative;
}

.bloom-topbar > span:first-child {
  font-size: 11px;
}

.bloom-search {
  margin-left: auto;
  display: flex;
  gap: 9px;
  align-items: center;
  color: #acb1a8;
}

.bloom-search input {
  border: 0;
  background: none;
  font-size: 9px;
  width: 155px;
  color: #2e3830;
  padding: 7px 0;
}

.bloom-search > span {
  background: #f8f9f5;
  padding: 3px 5px;
  border: 1px solid #e9ece4;
  border-radius: 4px;
  font-size: 7px;
}

.bloom-bell {
  border: 0;
  background: none;
  padding: 5px;
  position: relative;
  color: #819078 !important;
}

.bloom-bell i {
  width: 4px;
  height: 4px;
  background: #e79c87;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 5px;
}

.bloom-notification {
  position: absolute;
  right: 35px;
  top: 70px;
  z-index: 4;
  background: white;
  border: 1px solid #e9ece4;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 25px #2e383013;
  width: 280px;
  font-size: 11px;
}

.bloom-notification p {
  color: #8b968a;
  font-size: 10px;
  line-height: 1.7;
}

.bloom-notification > a {
  font-size: 9px;
  text-decoration: underline;
}

.bloom-main {
  max-width: 1450px;
  margin: auto;
  padding: 34px 36px 20px;
}

.bloom-greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.bloom-greeting > div > span {
  font-size: 9px;
  color: #8b968a;
}

.bloom-greeting h1 {
  font:
    500 27px/1.2 "Plus Jakarta Sans",
    sans-serif;
  letter-spacing: -0.055em;
  margin: 11px 0 10px;
}

.bloom-greeting h1 > span {
  color: #c0cb92;
  font-size: 27px;
  margin-left: 8px;
}

.bloom-greeting p {
  font-size: 10px;
  color: #8b968a;
  margin: 0;
}

.bloom-streak {
  display: flex;
  align-items: center;
  gap: 9px;
  background: #fbefdf;
  border: 1px solid #f3e5d3;
  padding: 10px 14px;
  border-radius: 10px;
  color: #ae8659;
}

.bloom-streak b {
  font-size: 9px;
  font-weight: 600;
}
